{% extends "base.html" %}

{% block body %}

{% if posts %}
    {% for post in posts %}
        <div class="card mb-3" style="max-width: 540px; min-width: 540px; height: auto;">
        <div class="row no-gutters">
            <div class="col-md-4">
            <img src="{{ url_for('static', filename='uploads/' + post.image) }}" class="card-img" alt="Image Here">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title"><a style="color: black; text-decoration: none;"href="/posts/{{post.id}}">{{post.title}}</a></h4>
                <h6 class="card-title">Posted by: You</h6>
                <p style="white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 75ch;" class="card-text">{{post.content}}
                </p>
                <div class="card-text" style="margin-bottom: 1.5rem;">
                <small class="text-muted">Posted: {{post.date_posted}}</small>
                <br>
                <small class="text-muted">Last updated: {{post.date_modified}}</small>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <a href='/posts/delete/{{post.id}}' style="width: 9rem;" type="text" class="btn btn-danger btn">Delete</a>
                    <a href='/posts/edit/{{post.id}}' type="button" style="width: 9rem;" class="btn btn-info btn">Edit</a>
                </div>
            </div>
            </div>
        </div>
        </div>
    {% endfor %}
{% else %}
    <h2>You have not created any posts yet.</h2>
{% endif %} 

{% endblock %}